:root{
    --font-primary   : 'Roboto', sans-serif;
    --green-dark     : #113F42;
    --white          : #F5F5F5;
    --black          : #3d3d3d;
    --violet         : #331546;
}

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 100%;
    font-family: var(--font-primary);
    background-color: var(--white);
}

.main{
    display: grid;
    grid-template-areas: 'main';
    width: 100%;
}

/*=========================================*/
.landscape{
    display: grid;
    grid-area: main;
    width: 100%;
    height: 100vh;
    grid-template-areas: 'landscape';
    z-index: 1;
}

.landscape__figure{
    display: grid;
    grid-area: landscape;
    grid-template-areas: "figure";
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .5s clip-path;
}

.landscape__figure--night{
    clip-path: circle(0.0% at 100% 100%);
}

.landscape__img{
    width: 100%;
    height: 100%;
    grid-area: figure;
    object-fit: cover;
}

.landscape__figure--day::after{
    content: "";
    width: 100%;
    height: 100%;
    grid-area: figure;
    background-color: #2c2b0ab8;
    opacity: .5;
}

.landscape__figure--night::after{
    content: "";
    width: 100%;
    height: 100%;
    grid-area: figure;
    background-color: #331546;
    opacity: .5;
}

.landscape__figure--night--active{
    clip-path: circle(141.4% at 100% 100%);
    transition: .5s clip-path;
}

/*==================Weather=======================*/

.weather{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 25em;
    grid-area: main;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 3em;
}

.weather__city{
    font-size: 1.8em;
    font-weight: 900;
    color: var(--white);
    *background-color: blueviolet;
}

.weather__temp{
    font-size: 4.7em;
    font-weight: 900;
}

.weather__ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1em;
    align-items: center;
}

.weather__li{
    display: flex;
    align-items: center;
    gap: 1em;
}

.weather__value{
    font-family: var(--font-primary);
    font-size: 1.4em;
}

.weather__search{
    display: flex;
    flex-direction: row;
    width: 100%;
    grid-area: main;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--white);
    background-color: transparent;
    backdrop-filter: blur(50px);
}

.weather__input{
    width: 90%;
    padding: .6em .6em .6em 1em;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white);
}

.weather__input::placeholder{
    color: #f5f5f5ad;
}

.weather__submit{
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    background-color: transparent;
}

.weather__icon{
    margin-right: 1em;
    cursor: pointer;
    color: var(--white);
}

.alert{
    display: none;
    width: 100%;
    height: 3em;
    align-items: center;
    justify-content: center;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-top: -2em;
    border-radius: 5px;
    transition: .2s all ease;
}

.alert--active{
    display: flex;
}

.alert__span{
    color: #721c24;
    height: max-content;
}

/*===================Readme======================*/

.readme{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.readme__box{
    width: 80%;
    margin: 3em 0;
}

.readme__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
    gap: .5em;
}

.readme__h2{
    font-size: 3em;
    font-weight: 900;
}

.readme__p{
    font-size: 1.3em;
    margin-bottom: 1em;
}

/*===================Footer======================*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15em;
    background-color: var(--violet);
}

.footer__box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    *background-color: brown;
}

.footer__label{
    font-family: var(--font-primary);
    font-size: 1.3em;
    margin-right: 1em;
    *background-color: #331546;
}

.footer__ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 1em;
    *background-color: #3d3d3d;
}

.footer__li{
    cursor: pointer;
    height: 27px;
}

.footer__a{
    color: var(--white);
}

.footer__a:hover{
    opacity: .6;
}




